<!--
<nav> 
    <a routerLink="/" >Home</a><br>
    <a routerLink="/about">About</a><br>
    <a routerLink="/owner">Owner</a><br>
    <a routerLink="/admin">Admin</a><br>
    <a routerLink="/receptionist">Receptionist</a><br>
</nav> 
-->

<ul>
    <li><a routerLink="/" >Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/signup">Owner</a></li>
    <li><a routerLink="/login">Admin</a></li>
    <li><a routerLink="/login-recep">Receptionist</a></li>
</ul>

  <router-outlet></router-outlet> 
  <app-footer></app-footer>



<!--
<app-admin></app-admin>
<app-receptionist></app-receptionist>
<app-owner></app-owner>
-->


