/* body {
    position: relative;
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    background-image: url("/assets/owner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    position: relative;
}

.btn-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin-left: 25%;
}

.transparent-btn,
.transparent-btn:focus {
    padding: calc(0.75rem - 1px) calc(1.25rem - 1px);
    border: 1px solid #550202;
    color: #550202;
    background: transparent;
    outline: none;
}

.transparent-btn:hover {
    background-color: #550202;
    color: #000;
}

.gold-text {
    margin-top: 10%;
    color: #550202 !important;
    font-size: 45px;
    margin-left: 20%;
    font-weight: bolder;
} */

.app-owner {
    background-color: blanchedalmond;
}

.owner-box {
    height: 650px;
    background-color: gray;
}

.owner-items {
    line-height: 30px;
    padding-left: 0px;
    height: 100px;
    list-style: none;
}

.owner-items li {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.owner-items li:hover {
    background-color: white;
    color: grey;
}